
@{
    ViewBag.Title = "Actualizar2";
}
<br />
<h3>¿Tienes una nueva estampa? Actualiza el estado</h3>
<br />
<h4>Ingresa el equipo y número de la estampa</h4>
<form action="/Estampas/Actualizar" method="post">
    <input type="text" name="Equipo" value="" />
    <input type="number" name="número" value="" />
    <input type="submit" name="Buscar" value="Agregar estampa" />
</form>

