
@{
    ViewBag.Title = "Equipos2";
}

<br />
<br />
<h3>Ingresar el nombre del equipo</h3>
<form action="/Estampas/Equipos" method="post">
    <input type="text" name="Equipo" value="" />
    <input type="submit" name="Mostrar estampas" value="Buscar" />
</form>